<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Synced Video Playback</title>
</head>
<body>
<div id="app">
</div>
<script id="app-template" type="text/x-template">
  <v-app>
    <v-container fluid>
      <h1 :clas="display-1 text-center">This app has a new home, please use <a href="https://vod-sync.3and3.dev/">vod-sync.3and3.dev</h1>
      <div :class="`d-flex justify-center ${isMobile ? 'flex-column' : 'flex-row'}`">
        <v-card outlined :width="vidWidth + 2" class="ma-2">
          <div class="vid" :style="`width:${vidWidth}px; height:${vidHeight}px;`">
            <div class="vid-inner" v-show="first.service=='twitch'" :style="`width:${vidWidth}px; height:${vidHeight}px;`">
              <div id="first-twitch" :style="`width:${vidWidth}px; height:${vidHeight}px;`"></div>
            </div>
            <div class="vid-inner" v-show="first.service=='youtube'">
              <div id="first-youtube"></div>
            </div>
          </div>
          <v-text-field v-if="isMobile" outlined label="Video Id" type="text" v-model="first.id" hide-details="auto" dense @change="updateId('first')" class="mx-2 mt-2"/>
          <div class="d-flex align-center">
            <v-btn-toggle class="ma-2" v-model="first.service" @change="updateService('first')" dense>
              <v-btn outlined value="twitch" height="40">
                <v-icon>mdi-twitch</v-icon>
              </v-btn>
              <v-btn outlined value="youtube" height="40">
                <v-icon>mdi-youtube</v-icon>
              </v-btn>
            </v-btn-toggle>
            <v-text-field v-if="!isMobile" outlined label="Video Id" type="text" v-model="first.id" hide-details="auto" dense @change="updateId('first')" class="mr-2"/>
            <v-text-field outlined label="Delay (seconds)" type="number" v-model="first.time" hide-details="auto" dense class="mr-2"/>
            <v-btn outlined @click="setDelay('first')" class="mr-2 px-0" height="40">
              <div v-if="isMobile">
                Set<br/>Delay
              </div>
              <div v-else class="mx-2">
                Set Delay to<br/>Current Time
              </div>
            </v-btn>
          </div>
        </v-card>
        <v-card outlined :width="vidWidth + 2" class="ma-2">
          <div class="vid" :style="`width:${vidWidth}px; height:${vidHeight}px;`">
            <div class="vid-inner" v-show="second.service=='twitch'" :style="`width:${vidWidth}px; height:${vidHeight}px;`">
              <div id="second-twitch" :style="`width:${vidWidth}px; height:${vidHeight}px;`"></div>
            </div>
            <div class="vid-inner" v-show="second.service=='youtube'">
              <div id="second-youtube"></div>
            </div>
          </div>
          <v-text-field v-if="isMobile" outlined label="Video Id" type="text" v-model="second.id" hide-details="auto" dense @change="updateId('second')" class="mx-2 mt-2"/>
          <div class="d-flex align-center">
            <v-btn-toggle class="ma-2" v-model="second.service" @change="updateService('second')" dense>
              <v-btn outlined value="twitch" height="40">
                <v-icon>mdi-twitch</v-icon>
              </v-btn>
              <v-btn outlined value="youtube" height="40">
                <v-icon>mdi-youtube</v-icon>
              </v-btn>
            </v-btn-toggle>
            <v-text-field v-if="!isMobile" outlined label="Video Id" type="text" v-model="second.id" hide-details="auto" dense @change="updateId('second')" class="mr-2"/>
            <v-text-field outlined label="Delay (seconds)" type="number" v-model="second.time" hide-details="auto" dense class="mr-2"/>
            <v-btn outlined @click="setDelay('second')" class="mr-2 px-0" height="40">
              <div v-if="isMobile">
                Set<br/>Delay
              </div>
              <div v-else class="mx-2">
                Set Delay to<br/>Current Time
              </div>
            </v-btn>
          </div>
        </v-card>
      </div>
      <v-card flat>
        <v-card-actions class="d-flex flex-column">
          <div class="d-flex justify-center">
            <v-btn outlined large @click="reset" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-skip-previous</v-icon><span>restart</span></div>
            </v-btn>
            <v-btn outlined large @click="play" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-play</v-icon><span>play</span></div>
            </v-btn>
            <v-btn outlined large @click="pause" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-pause</v-icon><span>pause</span></div>
            </v-btn>
          </div>
          <div class="d-flex justify-center">
            <v-btn outlined large @click="step(-60)" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-step-backward-2</v-icon><span>back</span><span>(1m)</span></div>
            </v-btn>
            <v-btn outlined large @click="step(-10)" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-step-backward</v-icon><span>back</span><span>(10s)</span></div>
            </v-btn>
            <v-btn outlined large @click="step(10)" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-step-forward</v-icon><span>skip</span><span>(10s)</span></div>
            </v-btn>
            <v-btn outlined large @click="step(60)" class="ma-2" height="70px" width="70px">
              <div class="d-flex flex-column"><v-icon>mdi-step-forward-2</v-icon><span>skip</span><span>(1m)</span></div>
            </v-btn>
          </div>
          <div class="d-flex justify-center align-center">
            <v-text-field hide-details readonly :value="shareUrl" @focus="$event.target.select()" ref="share">
              <template v-slot:prepend-inner>
                <v-btn dark @click="copyShareUrl" class="my-auto">Copy URL to Share</v-btn>
              </template>
            </v-text-field>
          </div>
        </v-card-actions>
      </v-card>
      <v-card outlined class="my-4 mx-auto" max-width="400">
        <v-card-text>
          <ul>
            <li>Some videos take a while to get started on first play. Just start playback and then hit <strong>RESTART</strong> to get it synced.</li>
            <li>Sometimes skipping will desync your videos. To avoid, pause before skipping and play again after both videos are ready. I could probably do this automatically with a little more effort but I haven't yet.</li>
            <li>Try seeking through videos individually and using <strong>SET DELAY<span v-if="!isMobile"> TO CURRENT TIME</span></strong>, and then <strong>RESTART</strong> to play in sync from there.</li>
          </ul>
        </v-card-text>
      </v-card>
      <div class="d-flex justify-center">
        <v-icon>mdi-email</v-icon>
        <span>alnordst</span>
        <v-icon>mdi-at</v-icon>
        <span>hey.com</span>
      </div>
    </v-container>
  </v-app>
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.x/dist/vue-router.js"></script>
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script src="script.js"></script>
</body>
</html>